.qr-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    width: 17rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem #dddddd;
    margin: auto;

    img {
        max-width: 100%;
        border-radius: 0.5rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .qr-title {
        padding-bottom: 1rem;
    }

}